.btn-primary{
    background-color: var(--primary);
    color: white;
    /* border-radius: 10px !important; */
    padding: 15px !important;
    outline: 0px !important;
    border: 1px solid var(--primary) !important;
    transition: 0.2s ease-in;
    box-shadow: 0px 4px 20px 0px rgba(68, 126, 117, 0.15);

}

.btn-primary:hover,.btn-primary:active{
    background-color: var(--hover);
}
.btn.btn-primary:active{
    background-color: var(--hover);
}

.btn-outline-primary{
    border-color:  var(--primary);
    color: var(--primary);
}
.btn-outline-primary:hover,.btn-outline-primary :active,
.btn.btn-outline-primary:active {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary) !important;
}

.btn.btn-outline-primary:active
{
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary) !important;
}

.btn.btn-outline:hover{
    border-color: var(--primary);
}


.btn.disabled, .btn:disabled, fieldset:disabled .btn{
    background-color: #afaaaa !important;
    border: 3px solid var(--primary);
}
.btn.btn-primary.new-btn-primary{
    border-width:3px !important ;
}